<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/product.css">
    <!-- Required CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<!-- Required JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hi Pankti Nanavati!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/api/sell">Sell</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Alert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="product">
        <div class="product-image">
          <img src="product1.jpg" alt="Product Image">
        </div>
        <div class="product-info">
          <h2 class="product-title"><%= product.product_name %></h2> Brand: <%= product.brand %> <br> Color: <%= product.colour %> <br> Size: <%= product.size %> <br> Prize: $<%= product.price%></p>
          <div class="product-buttons">
            <button class="list-item">List Your Item</button>
            <button id="bid-button" class="bid">Bid</button>

            <button class="set-alert" onclick="openModal()">Set Alert</button>
          </div>
        </div>
      </div>


      <div class="modal" id="bid-modal">
        <div class="modal-content">
          <div class="modal-header">
            
            <h2>Place Your Bid</h2>
            <span class="close">&times;</span>
          </div>
          <div class="modal-body">
            <div class="bid-form">
              <label for="bid-amount">Your Bid Amount ($)</label>
              <input type="text" id="bid-amount" name="bid-amount">
            </div>
            <div class="or-divider">
              <p class="or"><span>OR</span></p>
            </div>
            <div class="auto-bid-form">
              <h5>Auto-Bid</h3>
              <p>Set a maximum bid and we'll automatically bid for you up to that amount.</p>
              <div class="auto-bid-fields">
                <label for="auto-bid-increment">Bid Increment ($):</label>
                <input type="text" id="auto-bid-increment" name="auto-bid-increment" style="margin-left:20px">
                <label for="auto-bid-max" style="padding-top:20px">Max Bid Amount ($):</label>
                <input type="text" id="auto-bid-max" name="auto-bid-max">
              </div>
            </div>
          </div>
            <button class="place-bid-btn">Place Bid</button>
        </div>
      </div>


      <div id="alert-modal" class="alertmodal">
        <div class="alertmodal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h3>Set Alert</h3>
          <form id="alert-form">
            <label for="color">Color:</label>
            <input type="text" id="color" name="color"><br><br>
            <label for="size">Size:</label>
            <input type="text" id="size" name="size" style="margin-left:10px"><br><br>
            <button type="submit" id="submit-btn">Submit</button>
          </form>
        </div>
      </div>
      

  <script>// Get the modal
  
    var modal = document.getElementById("bid-modal");
    
    // Get the button that opens the modal
    var bidBtn = document.getElementById("bid-button");
    
    // Get the <span> element that closes the modal
    var closeBtn = document.querySelector(".close");
    
    // When the user clicks on the bid button, open the modal
    bidBtn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    closeBtn.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


    function openModal() {
    document.getElementById("alert-modal").style.display = "block";
  }
  
  function closeModal() {
    document.getElementById("alert-modal").style.display = "none";
  }


  const form = document.getElementById('alert-form');
  const submitBtn = document.getElementById('submit-btn');

  submitBtn.addEventListener('click', (event) => {
    event.preventDefault(); // Prevents the form from submitting normally

    const color = document.getElementById('color').value;
    const size = document.getElementById('size').value;
    const urlParams = new URLSearchParams(window.location.search);
    const productId = urlParams.get('productId');
    console.log(color, size, productId);
    // Make an API request to the server with the color and size data
    fetch('/api/alert', {
      method: 'POST',
      body: JSON.stringify({ color, size, productId }),
      headers: { 'Content-Type': 'application/json' }
    })
    .then(response => response.json())
    .then(data => window.location.href = '/api/product?productId=' + productId)
    .catch(error => console.error(error));
  });
    </script>