<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="salesReport.css">
<!-- Required CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Required JavaScript -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <%- include('navbar') %>
      
  
    <div class="container text-center pt-5 mt-8">
      <div class="row">
        <div class="col-md-12">
          <h2>Name</h2>
          <p><%= name %></p>
        </div>
        <div class="col-md-12">
          <h2>Username</h2>
          <p><%= user_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Email</h2>
          <p><%= email_id %></p>
        </div>
        <div class="col-md-12">
          <h2>Phone Number</h2>
          <p><%= phone_number %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Address</h2>
          <p><%= address%></p>
        </div>
      </div>
    </div>
      

    <div class="d-grid col-4 mx-auto my-5">
      <button type="button" onclick="fetchBids()" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#bidModal">Bid History</button>
  </div>




  <div class="d-grid col-4 mx-auto my-5">
    <button type="button" class="btn btn-primary btn-lg" onclick="fetchAuctions()" data-bs-toggle="modal" data-bs-target="#auctionModal"> Auction History</button>
</div>


<div class="d-grid col-4 mx-auto my-5">
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#resetPasswordModal"> Reset Password</button>
</div>

<div class="d-grid col-4 mx-auto my-5">
  <a href="/api/userQuery" type="button" class="btn btn-primary btn-lg" id="query-btn" > Raise a Query</a>
</div>

<div class="modal fade" id="bidModal" tabindex="-1" aria-labelledby="bidLabel" onclick="fetchBids(); bidModal.show()" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auctionLabel">Bid History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="nobid">
        </div>
        <table id="bidTable" class="hidden">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Time</th>
                <th>Price</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="bidTableBody">
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="auctionModal" tabindex="-1" aria-labelledby="auctionLabel" onclick="fetchAuctions(); auctionModal.show()" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auctionLabel">Auction History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div id="noauction">
        </div>
        <table id="auctionTable" class="hidden">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Brand</th>
              <th>Color</th>
              <th>Size</th>
              <th>Price</th>
              <th>End Time</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="auctionTableBody">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="newPasswordInput" class="form-label">Enter New Password</label>
              <input type="password" class="form-control" id="newPasswordInput">
            </div>
            <div class="mb-3">
              <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPasswordInput">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
<script>
    const auctionTableBody = document.querySelector('#auctionTableBody');
    const bidTableBody = document.querySelector('#bidTableBody');
    const auctionTable = document.querySelector('#auctionTable');
    const bidTable = document.querySelector('#bidTable');



function fetchAuctions() {
  fetch(`/api/auctionHistory`)
    .then(response => response.json())
    .then(data => {
      console.log(data);
      // Clear previous table data
      auctionTableBody.innerHTML = '';
      if (data.length === 0) {
        document.getElementById("noauction").innerHTML = "No Auction history";
      } else {
        data.forEach(auction => {
          const row = auctionTableBody.insertRow();
          row.innerHTML = `
            <td>${auction.product_name}</td>
            <td>${auction.brand}</td>
            <td>${auction.colour}</td>
            <td>${auction.size}</td>
            <td>${auction.initial_price}</td>
            <td>${auction.end_time}</td>
            <td><i class="bi bi-trash clickable" data-id="${auction.auction_id}"></i></td>
          `;
          var table = document.getElementById("auctionTable");
          table.classList.remove("hidden");
        });
        // Add event listeners to trash icons
        
        const trashIcons = document.querySelectorAll('.bi-trash.clickable');
        trashIcons.forEach(icon => {
          icon.addEventListener('click', () => {
            const queryType='Delete an Auction';
            const value= icon.getAttribute('data-id');
            fetch('/api/raiseQuery', {
              method: 'POST',
              body: JSON.stringify({ queryType, value}),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => {
              if (response.ok) {
                alert('Delete request successfully sent !');
              } else {
                alert('Request failed');
              }
            })
            .catch(error => {
              alert('Request failed: ' + error.message);
            });
          });
        });
      }
    });
}



function fetchBids() {
fetch(`/api/bidHistory`)
    .then(response => response.json())
    .then(data => {
      // Clear previous table data
      bidTableBody.innerHTML = '';
      console.log(data);
      if (data.length === 0) {
        document.getElementById("nobid").innerHTML = `<p>No Bid history</p>`;
    } else {
      data.forEach(bid => {
        const row = bidTableBody.insertRow();
        row.innerHTML = `
          <td>${bid.product_name}</td>
          <td>${bid.bidding_timestamp}</td>
          <td>${bid.amount}</td>
          <td><i class="bi bi-trash clickable" data-id="${bid.bid_id}"></i></td>
        `;
        var table = document.getElementById("bidTable");
        table.classList.remove("hidden");
    });
    const trashIcons = document.querySelectorAll('.bi-trash.clickable');
        trashIcons.forEach(icon => {
          icon.addEventListener('click', () => {
            const queryType='Delete a Bid';
            const value= icon.getAttribute('data-id');
            console.log(value);
            fetch('/api/raiseQuery', {
              method: 'POST',
              body: JSON.stringify({queryType, value}),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => {
              if (response.ok) {
                alert('Delete request successfully sent !');
              } else {
                alert('Request failed');
              }
            })
            .catch(error => {
              alert('Request failed: ' + error.message);
            });
          });
        });
      }
    });
}


const submitBtn = document.getElementById('submit-btn');
  submitBtn.addEventListener('click', (event) => {
    event.preventDefault(); // Prevents the form from submitting normally

    const value= document.getElementById('confirmPasswordInput').value;
    const queryType='Reset Password';
    // Make an API request to the server with the color and size data
    fetch('/api/raiseQuery', {
      method: 'POST',
      body: JSON.stringify({ queryType, value }),
      headers: { 'Content-Type': 'application/json' }
    })
    .then(response => response.json())
    .then(data => window.location.href = '/api/profile')
    .catch(error => console.error(error));
});

// const queryButton = document.getElementById('query-btn');
//   queryButton.addEventListener('click', () => {
//     window.open('/api/userQuery', '_blank');
//   });
</script>